@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  .dark {
    --background: #F8FAFC;
    --surface: #FFFFFF;
    --primary: #3B82F6;
    --secondary: #6366F1;
    --accent: #10B981;
    --text: #1f2937d7;
    /* --text: #1F2937; */
    --textDark:#000;
    /* --muted: #6B7280; */
    --muted: #babcc1;
    /* --border: #E5E7EB; */
    --border: #9091934e;
  }

  :root {
    --background: #121212;
    --surface: #1A1A1A;
    --primary: #60A5FA;
    --secondary: #818CF8;
    --accent: #34D399;
    --text: #F9FAFB;
    --textDark:#F9FAFB;
    /* --muted: #9CA3AF; */
    --muted: #2a2c2d;
    --border: #334155;
  }
}

@layer utilities {
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
 


.rhap_container {
  background-color: #27272a !important;
  border-radius: 50px !important;
  /* width: 100px !important; */
  height: 100% !important;
  color: white !important;
}

.audio-sended{
  background-color: #14532d !important;
  height: 70px !important;
  border-radius: 10px !important;

}

.audio-recieved{
  background-color: var(--muted) !important;
  height: 70px !important;
  border-radius: 10px !important;

  
}
.audio-player .rhap_main-controls button {
  color: white !important; /* Tailwind's emerald-500 */
}
.audio-player .rhap_total-time{
  color: white !important;
}
.audio-player .rhap_current-time{
  color: white !important;

}
.rhap_progress-filled {
  background-color: white !important;
}
.rhap_progress-indicator {
  background-color: white !important; 
}

.audio-sended .rhap_current-time{
  margin-right: 20px !important;
}